<!DOCTYPE html>

<html>
<head>
    <meta charset="${_response_encoding}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="@{'/public/javascripts/jquery-2.1.1.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery-ui-1.10.4.custom.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-3.1.0.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-popover.override.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>

    <script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
    <script src="/public/masonry.pkgd.min.js"></script>
#{get 'headScripts' /}

#{get 'moreScripts' /}

</head>
    <body>
    <div id="dz-root"></div>
    <script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
    <script>
        DZ.init({
            appId  : '218244',
            channelUrl : 'http://localhost:9000/channel'
        });
    </script>
    <div id="dz-root"></div>
    <div class="main">
        <img src="../public/images/piano.jpg" id="bg" alt="">
        #{doLayout /}
    </div>
    </body>
</html>
