<!DOCTYPE html>

<html>
<head>
    <meta charset="${_response_encoding}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.less'}">

#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-2.1.1.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>

    <script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
#{get 'headScripts' /}

#{get 'moreScripts' /}

</head>
    <body>
    <div id="dz-root"></div>
    <script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
    <script>
        DZ.init({
            appId  : '218244',
            channelUrl : 'http://localhost:9000/channel'
        });
    </script>
    <div id="dz-root"></div>
    <script>
        window.dzAsyncInit = function() {
            DZ.init({
                appId  : '218244',
                channelUrl : 'http://localhost:9000/channel'
            });
        };
        (function() {
            var e = document.createElement('script');
            e.src = 'https://e-cdns-files.dzcdn.net/js/min/dz.js';
            e.async = true;
            document.getElementById('dz-root').appendChild(e);
        }());
    </script>
        #{doLayout /}
    </body>
</html>
