#{extends 'main.html' /}
#{set title:'Home' /}
<p>Vous avez accepté de vous connecter à l'application DeezToSpot</p>
<button id="getAccesToken">Accéder à l'application</button>
<script>
    $('#getAccesToken').click(function () {
        $.ajax({
                    url: "https://connect.deezer.com/oauth/access_token.php?app_id=${app}&secret=${Skey}&code=${code}",
            // the name of the callback parameter, as specified by the YQL service
            jsonp: "callback",

            // tell jQuery we're expecting JSONP
            dataType: "jsonp",

            // tell YQL what we want and that we want JSON
            data: {
                format: "json"
            },
                    success: function (response) {
                        console.log(response);
                        var parts=response.split('=',2)
                        var parts1=parts[1];
                        var accessTokenParts=parts1.split('&',2)
                        var accessToken=accessTokenParts[0];
                        console.log(accessToken);

                    },
                    beforeSend: function () {
                    },
                    complete: function () {
                    },
                    error: function (response) {
                        $('body').css('cursor', 'default');
                        alert("Une erreur est survenue, veuillez recommencer");

                    },
                    dataType: 'html'
                }
        );
    })
    
    
</script>