<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="http://www.deezer.com/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="http://www.deezer.com/favicon.ico" type="image/x-icon"/>
    <link href="/../public/stylesheets/deezStyle.css" rel="stylesheet">
    <link href="/../public/images/sprite.css" rel="stylesheet">

    <title ng-bind="$root.title">Deezer Light</title>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="/../public/javascripts/deezController.js"></script>
    <script src="/../public/javascripts/spotController.js"></script>
    <script src="/../public/javascripts/spotMainController.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body class="app">
<div ng-app="app">

    <div id="wrapperSpot" class="layoutWrapper col-md-6" ng-controller="deezToSpot">
        <div id="header">
            <div class="pull-right" ng-show="user.id != 'undefined'"><img ng-src="{{user.images[0].url}}" width="80"
                                                                          height="80" class="inline" id="cover_image"/>
            </div>
            <div class="pull-right" ng-show="user.id != 'undefined'">Bienvenue {{user.display_name}}</div>
        </div>
        <div id="content">
            <button class="btn btn-primary" id="btn-login">Se connecter à Spotify</button>
            <button class="btn btn-primary" id="get_user">Données utilisateur</button>
            <button class="btn btn-primary" id="get_albums">Albums de l'utilisateur</button>
            <button class="btn btn-primary" id="lastStep"><</button>
            <button class="btn btn-primary" id="nextStep">></button>
            <div id="albumContent">

            </div>
        </div>
        <div ng-repeat="album in albums" class="inline grid_list">
                <img class="cover" ng-src="{{album.album.images[1].url}}" width="160" height="160" style="opacity: 1">
                <div class="grid_title">{{album.album.name}}</div>
            <div class="clear"></div>
        </div>
    </div>
</div>

</body>
</html>