<div ng-app="app">
    <div id="wrapperSpot" class="layoutWrapper col-md-6" ng-controller="deezToSpot">
        <div id="header">
            <div class="pull-right" ng-show="user.id != 'undefined'"><img ng-src="{{user.images[0].url}}" width="80"
                                                                          height="80" class="inline" id="cover_image"/>
            </div>
            <div class="pull-right" ng-show="user.id != 'undefined'">Bienvenue {{user.display_name}}</div>
        </div>
        <div id="content">
            <button class="btn btn-primary" id="btn-login">Se connecter à Spotify</button>
            <button class="btn btn-primary" id="get_user">Données utilisateur</button>
            <button class="btn btn-primary" id="get_albums">Albums de l'utilisateur</button>
            <button class="btn btn-primary" id="lastStep"><</button>
            <button class="btn btn-primary" id="nextStep">></button>
            <div id="albumContent">

            </div>
        </div>
        <div ng-repeat="album in albums" class="inline grid_list">
            <img class="cover" ng-src="{{album.album.images[1].url}}" width="160" height="160" style="opacity: 1">
            <div class="grid_title">{{album.album.name}}</div>
            <div class="clear"></div>
        </div>
    </div>
</div>