#{extends 'main.html' /}
#{set title:'Home' /}

<div id="banner">
    <div class="WelcomeUser">

    </div>
</div>

<div class="content">
    <div class="Welcome">
        <h1>Bienvenue</h1>
        <button id="login">Se connecter à spotToDeez</button>

    </div>
    <div class="WelcomeUser">

        <h1 id="userName">Bienvenue ${user}</h1>
        <h2>Vous êtes connecté à DeezToSpot</h2>

        <p>Que voulez vous faire?</p>
        <button id="albumsView">
            Voir vos albums
        </button>

        <button>
            Exporter vos albums
        </button>


    </div>
    <div id="albumModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content zplus">
                Test on sait jamais
            </div>
        </div>
    </div>
    <div id="albumPochette" class="masonry">

    </div>
    <script>
    $('.Welcome').show();
    $('.WelcomeUser').hide();
    $('#login').click(function () {
        DZ.login(function (response) {
            if (response.authResponse) {
                DZ.api('/user/me', function (response) {
                    $('.Welcome').hide()
                    $('.userName').text("Bienvenue " + response.name);
                    $('.WelcomeUser').show()
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {perms: 'basic_access,email'});
    });
    $('#albumsView').click(function () {
        DZ.api('/user/me/albums', function (data) {
            var albums=[];
            var boucle = Math.trunc(data.total/25) + 1;
            for (i = 0; i < boucle; i++) {
                DZ.api('/user/me/albums?index=' + (i * 25), function (albumArray) {
                if(albumArray){
                    var albumListByPage=JSON.parse(JSON.stringify(albumArray.data));
                    for(j=1;j<albumListByPage.length;j++){
                        $('#albumPochette').append('<div id="'+albumListByPage[j].id+'" class="item"><img src="'+albumListByPage[j].cover+'"><button onclick="showAlbum('+albumListByPage[j].id+')">Allé</button><div id="viewAlbum_'+albumListByPage[j].id+'"></div></div>');
                    }
                    albums.push(albumListByPage);
                }
            })
            }
        })
   });
$(function(){

})
    var showAlbum=function (id) {
    var album;
    $('#albumModal').modal();
    DZ.api('album/'+id, function (album) {
    console.log(album);
    if(album){
            $.ajax({
                data: JSON.stringify(album),
                url: "/viewAlbum" ,
                method: 'POST',

                success: function (htmlResponse, status, jqXHR) {
                $('#viewAlbum_'+id).append(htmlResponse);
                },
                error: function (response) {
                    $('body').css('cursor', 'default');
                    $('body').removeClass('loading');
                },
                complete: function () {
                    $('body').removeClass('loading');
                }

            });
            }
        });

    };


    </script>
</div>
