#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Bienvenue</h1>
<form  action="@{connectUser()}" id="connectedUser">
<input type="text" name="email" id="email" value="${email}">Email

</form>
<div class="modal">

</div>
<script>
    $(function(){
    $('#connectedUser').submit(function(event) {
        event.preventDefault();
        $.ajax({
            url:"https://connect.deezer.com/oauth/auth.php?app_id=218244&redirect_uri=http://localhost:9000/follow/&perms=basic_access,email",

            succes: function (data) {
                $('.modal').load(data);
                $('.modal').appendTo('body');
            }
    });
    });
    })
</script>