# Ignore Play! working directory #
bin/*
/db/*
.eclipse
/lib/*
/logs/*
/modules/*
/project/project/*
/project/target/*
/target/*
tmp/*
test-result
server.pid
*.iml
*.eml
*.iws
*.ipr
/dist/*
.cache
eclipse/*
.classpath
.project
.settings
/bin/
/data/*
cobertura.ser
*.log
*.pid

